<%= form_for(@complain, remote: true) do |f| %>
  <% if @complain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complain.errors.count, "error") %> prohibited this complain from being saved:</h2>

      <ul>
      <% @complain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id, value: @company.id %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
