<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
Total Complains: <%= @totcp %>

<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<%= column_chart @graphComplainsPerDay %>

<h3>New Complain</h3>

<%= render 'formc' %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
